<li class="list-item list-item--recipe">
  <h3><%= link_to recipe, recipe %></h3>
  <section class="m-recipe-meta">
    <%= "#{recipe.favourite_count} fav".pluralize(recipe.favourite_count) %> 
    <%= link_to recipe.user, recipe.user %>
    <%= render 'recipes/ingredient_list', ingredient_list: recipe.ingredient_list if recipe %>
  </section>
</li>