<li class="list-item list-item--recipe">
  <h3><%= link_to recipe, recipe %></h3>
  <section class="m-recipe-meta">
    <%= "#{recipe.favourite_count} fav".pluralize(recipe.favourite_count) %> 
    <%= link_to recipe.user, recipe.user %>
  </p>
</li>