<article class="recipe">
  <header class="recipe-header">
    <h3 class="recipe-header">
      <%= link_to recipe, recipe %>
      <%= render 'recipes/favourite', recipe: recipe %>
    </h3>
    <%= link_to recipe.user, recipe.user %>
  </header>
  <%= render 'recipes/ingredient_list', ingredient_list: recipe.ingredient_list if recipe.ingredient_list.any? %>
</article>