<article class="recipes page">
  <header class="page-header">
    <div class="l-wrap">
      <h1 class="page-header_title">
        Recipes 
        <span class="page-header_title-count">
          <%= @recipes.length %>
        </span>
      </h1>
    </div>
  </header>
  <section class="page-features l-wrap">
    <%= render @recipes.shift if @recipes.any? %>
    <%= render @recipes.shift if @recipes.any? %>
  </section>
  <section class="page-content l-wrap">
    <%= render 'recipes_list', recipes: @recipes %>
  </section>
</article>