<article class="user page">
  <header class="page-header">
    <div class="l-wrap">
      <h1 class="page-header_title">
        <%= @user %>
      </h1>
    </div>
  </header>
  <section class="page-content l-wrap">
    <%= render 'recipes_list', recipes: @user.recipes.decorate %>
    <%= render 'recipes_list', recipes: @user.favourites.decorate, opts: { data: {bb_el: "favourites-list"} } %>
  </section>
</article>
