<article>
  <header>
    <h1><%= @user %></h1>
  </header>
  <section>
    <h2>Recipes</h2>
    <%= render 'recipes_list', recipes: @user.recipes.decorate %>
  </section>
  <section>
    <h2>Favourites</h2>
    <%= render 'recipes_list', recipes: @user.favourites.decorate, opts: { data: {bb_el: "favourites-list"} } %>
  </section>
</article>
