<article>
  <header>
    <h1><%= @user %></h1>
  </header>
  <section>
    <h2>Recipes</h2>
    <%= render 'list', collection: @user.recipes %>
  </section>
  <section>
    <h2>Favourites</h2>
    <%= render 'list', collection: @user.favourites %>
  </section>
</article>
