@mixin faricy($weight: 400) {
  @if $weight == "bold" {
    $weight: 700;
  }
  @if $weight == "light" {
    $weight: 300;
  }
  font-family: "faricy-new-web";
  font-weight: $weight;
}

@mixin caps {
  @include faricy("light");
  text-transform: uppercase;
}

@mixin small-caps {
  @include caps;
  font-size: 0.865em;
}

@mixin title {
  @include caps;
}

body {
  @include faricy;
}

.wf-loading {
    visibility: hidden; 
}
.wf-active,
.wf-inactive {
  visibility: visible;
}

h1, h2 {
  @include title;
}
h3, h4, h5 {
  font-weight: normal;
}